
<div class=span10>

<ul style="list-style-type:none;padding-left:100px,position:absolute">
        <li class="portrait">
          <div class="hover hidden">
            <h2>Zach Sims</h2>
            <h3>Co-Founder</h3>
            <div class="links">
                <a target="_blank" class="twitter" href="http://twitter.com/zsims">
                  Twitter
                </a>
            </div>
          </div>
          <div class="image">
            <img alt="Zach_sims" src="http://l.ruby-china.org/user/big_avatar/15.jpg">
          </div>
        </li>
        <li class="portrait">
          <div class="hover hidden">
            <h2>Ryan Bubinski</h2>
            <h3>Co-Founder</h3>
            <div class="links">
                <a target="_blank" class="twitter" href="http://twitter.com/ryanbubinski">
                  Twitter
                </a>
                <a target="_blank" class="github" href="http://github.com/ryanbubinski">
                  Github
                </a>
            </div>
          </div>
          <div class="image">
            <img alt="Ryan_bubinski" src="http://ruby-china.org/avatar/85a64fb3375926c0be5c75eccf40e853.png?s=240&d=404">
          </div>
        </li>
        <li class="portrait">
          <div class="hover hidden">
            <h2>Amjad Masad</h2>
            <h3>Engineer</h3>
            <div class="links">
                <a target="_blank" class="twitter" href="http://twitter.com/amjad_masad">
                  Twitter
                </a>
                <a target="_blank" class="github" href="http://github.com/amasad">
                  Github
                </a>
            </div>
          </div>
          <div class="image">
            <img alt="Amjad_masad" src="http://l.ruby-china.org/user/big_avatar/2.jpg">
          </div>
        </li>
        <li class="portrait">
          <div class="hover hidden">
            <h2>Leng Lee</h2>
            <h3>Education</h3>
            <div class="links">
                <a target="_blank" class="twitter" href="http://twitter.com/lenglee_">
                  Twitter
                </a>
                <a target="_blank" class="linkedin" href="http://www.linkedin.com/pub/leng-lee/12/756/680">
                  Linkedin
                </a>
            </div>
          </div>
          <div class="image">
            <img alt="Leng_lee" src="http://l.ruby-china.org/user/big_avatar/16.png">
          </div>
        </li>
        <li class="portrait">
          <div class="hover hidden">
            <h2>Sasha Laundy</h2>
            <h3>Education</h3>
            <div class="links">
                <a target="_blank" class="twitter" href="http://twitter.com/sashalaundy">
                  Twitter
                </a>
            </div>
          </div>
          <div class="image">
            <img alt="Sasha_laundy" src="http://l.ruby-china.org/user/big_avatar/2.jpg">
          </div>
        </li>
        <li class="portrait">
          <div class="hover hidden">
            <h2>Jimmy Li</h2>
            <h3>Engineer</h3>
            <div class="links">
                <a target="_blank" class="twitter" href="http://twitter.com/jyli7">
                  Twitter
                </a>
                <a target="_blank" class="github" href="http://github.com/jyli7">
                  Github
                </a>
            </div>
          </div>
          <div class="image">
            <img alt="Jimmy_lee" src="http://ruby-china.org/avatar/ac1132a622b224a045252b215bd3ee31.png?s=240&d=404">
          </div>
        </li>
        <li class="portrait">
          <div class="hover hidden">
            <h2>Linda Liukas</h2>
            <h3>Community</h3>
            <div class="links">
                <a target="_blank" class="twitter" href="http://twitter.com/lindaliukas">
                  Twitter
                </a>
                <a target="_blank" class="github" href="http://github.com/lindaliukas">
                  Github
                </a>
            </div>
          </div>
          <div class="image">
            <img alt="Linda_liukas" src="http://ruby-china.org/avatar/ab989bfcd6ed51d34250507f7a248653.png?s=240&d=404">
          </div>
        </li>







        <li class="portrait">
          <div class="hover hidden">
            <h2>Douglas Rushkoff</h2>
            <h3>Evangelist</h3>
            <div class="links">
                <a target="_blank" class="twitter" href="http://twitter.com/rushkoff">
                  Twitter
                </a>
            </div>
          </div>

          <div class="image" style="hover:">
            <img alt="Douglas_rushkoff@2x" src="http://l.ruby-china.org/user/big_avatar/6.jpg">
          </div>

        </li>








        <li class="portrait">
          <div class="hover hidden">
            <h2>Eric Weinstein</h2>
            <h3>Education</h3>
            <div class="links">
                <a target="_blank" class="twitter" href="http://twitter.com/ericqweinstein">
                  Twitter
                </a>
            </div>
          </div>
          <div class="image">
            <img alt="Eric_weinstein@2x" src="http://l.ruby-china.org/user/big_avatar/3333.png">
          </div>
        </li>
        <li class="portrait">
          <div class="hover hidden">
            <h2>Moudy Elkammash</h2>
            <h3>Engineer</h3>
            <div class="links">
                <a target="_blank" class="twitter" href="http://twitter.com/moudy">
                  Twitter
                </a>
                <a target="_blank" class="github" href="http://github.com/moudy">
                  Github
                </a>
            </div>
          </div>
          <div class="image">
            <img alt="Moudy_elkammash@2x" src="http://l.ruby-china.org/user/big_avatar/2.jpg">
          </div>
        </li>
        <li class="portrait">
          <div class="hover hidden">
            <h2>Jason Foral</h2>
            <h3>Designer</h3>
            <div class="links">
                <a target="_blank" class="twitter" href="http://twitter.com/jasonforal">
                  Twitter
                </a>
            </div>
          </div>
          <div class="image">
            <img alt="Jason_foral@2x" src="http://l.ruby-china.org/user/big_avatar/8.jpg">
          </div>
        </li>
        <li class="portrait">
          <div class="hover hidden">
            <h2>Dean Strelau</h2>
            <h3>Engineer</h3>
            <div class="links">
                <a target="_blank" class="twitter" href="http://twitter.com/dstrelau">
                  Twitter
                </a>
                <a target="_blank" class="github" href="http://github.com/dstrelau">
                  Github
                </a>
            </div>
          </div>
          <div class="image">
            <img alt="Dean_strelau@2x" src="http://l.ruby-china.org/user/big_avatar/1805.jpg">
          </div>
        </li>
        <li class="portrait">
          <div class="hover hidden">
            <h2>Karen Baker</h2>
            <h3>Community</h3>
            <div class="links">
                <a target="_blank" class="twitter" href="http://twitter.com/karenebaker">
                  Twitter
                </a>
            </div>
          </div>
          <div class="image">
            <img alt="Karen_baker@2x" src="http://l.ruby-china.org/user/big_f08750e605d58ff54872d955169ce0c3.png">
          </div>
        </li>
      </ul>
    


This guide focuses on the interaction between Controller and View in the Model-View-Controller triangle. As you know, the Controller is responsible for orchestrating the whole process of handling a request in Rails, though it normally hands off any heavy code to the Model. But then, when it’s time to send a response back to the user, the Controller hands things off to the View. It’s that handoff that is the subject of this guide.

In broad strokes, this involves deciding what should be sent as the response and calling an appropriate method to create that response. If the response is a full-blown view, Rails also does some extra work to wrap the view in a layout and possibly to pull in partial views. You’ll see all of those paths later in this guide.
2 Creating Responses</div>

<div class=span2>
In broad strokes, this involves deciding what should be sent as the response and calling an appropriate method to create that response. If the response is a full-blown view, Rails also does some extra work to wrap the view in a layout and possibly to pull in partial views. You’ll see all of those paths later in this guide.</div>


 