<div class=container>
  <div class=row>
    <hr>
    <div class=span9 >

      <ul style="list-style-type:none;padding-left:100px,position:absolute">
        <li class="portrait" style=float:left;padding:30px>
          <div class="hover hidden">
            <h2>Zach Sims</h2>
            <h3>Co-Founder</h3>
            <div class="links">
              <a target="_blank" class="twitter" href="http://twitter.com/zsims">
                Twitter
              </a>
            </div>
          </div>
          <div class="image">
            <img alt="Zach_sims" src="http://l.ruby-china.org/user/big_avatar/15.jpg">
          </div>
        </li>
        <li class="portrait" style=float:left;padding:30px>
          <div class="hover hidden">
            <h2>Dean Strelau</h2>
            <h3>Engineer</h3>
            <div class="links">
              <a target="_blank" class="twitter" href="http://twitter.com/dstrelau">
                Twitter
              </a>
              <a target="_blank" class="github" href="http://github.com/dstrelau">
                Github
              </a>
            </div>
          </div>
          <div class="image">
            <img alt="Dean_strelau@2x" src="http://l.ruby-china.org/user/big_avatar/1805.jpg">
          </div>
        </li>
        <li class="portrait" style=float:left;padding:30px>
          <div class="hover hidden">
            <h2>Amjad Masad</h2>
            <h3>Engineer</h3>
            <div class="links">
              <a target="_blank" class="twitter" href="http://twitter.com/amjad_masad">
                Twitter
              </a>
              <a target="_blank" class="github" href="http://github.com/amasad">
                Github
              </a>
            </div>
          </div>
          <div class="image">
            <img alt="Amjad_masad" src="http://l.ruby-china.org/user/big_avatar/2.jpg">
          </div>
        </li>
        <li class="portrait" style=float:left;padding:30px>
          <div class="hover hidden">
            <h2>Leng Lee</h2>
            <h3>Education</h3>
            <div class="links">
              <a target="_blank" class="twitter" href="http://twitter.com/lenglee_">
                Twitter
              </a>
              <a target="_blank" class="linkedin" href="http://www.linkedin.com/pub/leng-lee/12/756/680">
                Linkedin
              </a>
            </div>
          </div>
          <div class="image">
            <img alt="Leng_lee" src="http://l.ruby-china.org/user/big_avatar/16.png">
          </div>
        </li>
        <li class="portrait" style=float:left;padding:30px>
          <div class="hover hidden">
            <h2>Sasha Laundy</h2>
            <h3>Education</h3>
            <div class="links">
              <a target="_blank" class="twitter" href="http://twitter.com/sashalaundy">
                Twitter
              </a>
            </div>
          </div>
          <div class="image">
            <img alt="Sasha_laundy" src="http://l.ruby-china.org/user/big_avatar/2.jpg">
          </div>
        </li>
        <li class="portrait" style=float:left;padding:30px>
          <div class="hover hidden">
            <h2>Douglas Rushkoff</h2>
            <h3>Evangelist</h3>
            <div class="links">
              <a target="_blank" class="twitter" href="http://twitter.com/rushkoff">
                Twitter
              </a>
            </div>
          </div>

          <div class="image" style="hover:">
            <img alt="Douglas_rushkoff@2x" src="http://l.ruby-china.org/user/big_avatar/742.jpg">
          </div>

        </li>



        <li class="portrait" style=float:left;padding:30px>
          <div class="hover hidden">
            <h2>Eric Weinstein</h2>
            <h3>Education</h3>
            <div class="links">
              <a target="_blank" class="twitter" href="http://twitter.com/ericqweinstein">
                Twitter
              </a>
            </div>
          </div>
          <div class="image">
            <img alt="Eric_weinstein@2x" src="http://l.ruby-china.org/user/big_avatar/3333.png">
          </div>
        </li>
        <li class="portrait" style=float:left;padding:30px>
          <div class="hover hidden">
            <h2>Moudy Elkammash</h2>
            <h3>Engineer</h3>
            <div class="links">
              <a target="_blank" class="twitter" href="http://twitter.com/moudy">
                Twitter
              </a>
              <a target="_blank" class="github" href="http://github.com/moudy">
                Github
              </a>
            </div>
          </div>
          <div class="image">
            <img alt="Moudy_elkammash@2x" src="http://l.ruby-china.org/user/big_avatar/2.jpg">
          </div>
        </li>
        <li class="portrait" style=float:left;padding:30px>
          <div class="hover hidden">
            <h2>Jason Foral</h2>
            <h3>Designer</h3>
            <div class="links">
              <a target="_blank" class="twitter" href="http://twitter.com/jasonforal">
                Twitter
              </a>
            </div>
          </div>
          <div class="image">
            <img alt="Jason_foral@2x" src="http://l.ruby-china.org/user/big_avatar/8.jpg">
          </div>
        </li>
        <li class="portrait" style=float:left;padding:30px>
          <div class="hover hidden">
            <h2>Dean Strelau</h2>
            <h3>Engineer</h3>
            <div class="links">
              <a target="_blank" class="twitter" href="http://twitter.com/dstrelau">
                Twitter
              </a>
              <a target="_blank" class="github" href="http://github.com/dstrelau">
                Github
              </a>
            </div>
          </div>
          <div class="image">
            <img alt="Dean_strelau@2x" src="http://l.ruby-china.org/user/big_avatar/1805.jpg">
          </div>
        </li>
        <li class="portrait" style=float:left;padding:30px>
          <div class="hover hidden">
            <h2>Dean Strelau</h2>
            <h3>Engineer</h3>
            <div class="links">
              <a target="_blank" class="twitter" href="http://twitter.com/dstrelau">
                Twitter
              </a>
              <a target="_blank" class="github" href="http://github.com/dstrelau">
                Github
              </a>
            </div>
          </div>
          <div class="image">
            <img alt="Dean_strelau@2x" src="http://l.ruby-china.org/user/big_avatar/1805.jpg">
          </div>
        </li>
        <li class="portrait" style=float:left;padding:30px>
          <div class="hover hidden">
            <h2>Karen Baker</h2>
            <h3>Community</h3>
            <div class="links">
              <a target="_blank" class="twitter" href="http://twitter.com/karenebaker">
                Twitter
              </a>
            </div>
          </div>
          <div class="image">
            <img alt="Karen_baker@2x" src="http://l.ruby-china.org/user/big_f08750e605d58ff54872d955169ce0c3.png">
          </div>
        </li>
      </ul>
    </div>

    <div class='sidebar span3'>

      <div class='jobs'>
        <h2>Jobs</h2>
        <hr style=padding:0px;margin:0px>
      </p>
      If you're excited to get the world hooked on coding, we'd love to hear from you.
    </p>
    <p><a href="/zh/jobs">Check out our jobs page</a></p>
  </div>
  <div class='blog'>

    <h2>Blog</h2>
    <hr style=padding:0px;margin:0px>
    <ul class='recent_posts'>
      <li class='post'>
        <p><a href="/zh/blog/48-prueba-nuestros-nuevos-cursos-de-html-y-css">¡Prueba nuestros nuevos cursos de HTML y CSS!</a>
          <br/>
          <span class='meta-data'>12月31日 &mdash; karenbaker</span>
        </p>
      </li>
      <li class='post'>
        <p><a href="/zh/blog/46-meet-our-latest-language-espanol">Meet our latest language: ¡Español! </a>
          <br/>
          <span class='meta-data'>12月30日 &mdash; karenbaker</span>
        </p>
      </li>
      <li class='post'>
        <p><a href="/zh/blog/47-our-five-favorite-code-cards">Our five favorite Code Cards</a>
          <br/>
          <span class='meta-data'>12月26日 &mdash; karenbaker</span>
        </p>
      </li>
    </ul>
    <p><a href="http://www.codecademy.com/zh/blog">See more</a></p>
  </div>
  <div class='contact'>
    <h2>Contact</h2>
    <hr style=padding:0px;margin:0px>
    <p class='media-inquery'><a href="mailto:media@codecademy.com">Media Inquiries</a></p>
    <p><a href="mailto:contact@codecademy.com">All Other Inquiries</a></p>
    <p>
      <a href="https://twitter.com/codecademy" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @codecademy</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </p>
  </div>
  <div class='media'>
    <h2 >Media</h2>
    <hr style=padding:0px;margin:0px>
    <p><a href="/files/codecademy-logos.zip">Download media assets</a></p>
  </div>
</div>
</div>
<hr>
<div class=row>
  <h1></h1>
</div>
</div>